<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.MenusMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.entity.Menus">
        <id column="m_id" property="mId" />
<!--        <result column="m_name" property="mName" />-->
<!--        <result column="m_pid" property="mPid" />-->
    </resultMap>

    <resultMap id="TreeMap" type="com.example.vo.MenusVo" extends="BaseResultMap">
        <collection column="m_id" property="children" ofType="com.example.entity.Menus" javaType="java.util.ArrayList" select="selMenuChildByMid"/>
    </resultMap>
    <!--
        column:参数,数据库字段名
        property:接收数据参数名
        javaType:接收的类型
        ofType:传入参数类型
        select:查询
    -->

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        m_id, m_name, m_pid
    </sql>

    <select id="menusList" resultMap="TreeMap">
        select * from menus where m_pid = 0
    </select>

    <select id="selMenuChildByMid" resultMap="TreeMap" parameterType="int">
        select * from menus where m_pid = ${mId}
    </select>


</mapper>
