<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.MenusMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.entity.Menus">
        <id column="mid" property="mid" />
        <result column="mname" property="mname" />
        <result column="pid" property="pid" />
    </resultMap>

    <resultMap id="TreeMap" type="com.example.vo.MenusVo" extends="BaseResultMap">
        <collection column="mid" property="children" ofType="com.example.entity.Menus" javaType="java.util.ArrayList" select="selMenuChildByMid"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        mid, mname, pid
    </sql>

    <select id="menusList" resultMap="TreeMap">
        select * from menus where pid = 0
    </select>

    <select id="selMenuChildByMid" resultMap="TreeMap" parameterType="int">
        select * from menus where pid = ${mid}
    </select>


</mapper>
